In [1]:
#!pip install pyspark

In [2]:
#import pyspark

In [3]:
#pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('mypractice').getOrCreate()

In [6]:
df_srk=spark.read.csv('D:\spark\BPD_Employee_File_As_Of__06_09_2016.csv')

In [7]:
emp=spark.read.csv('D:\spark\emp.csv',header=True,inferSchema=True)
dept=spark.read.csv('D:\spark\dept.csv',header=True,inferSchema=True)
sal=spark.read.csv('D:\spark\sal.csv',header=True,inferSchema=True)
#emp.show()

In [8]:
emp.describe().show()

+-------+------------------+-----+--------+------------------+--------+------------------+-----------------+------------------+
|summary|             empno|ename|     job|               mgr|hiredate|               sal|             comm|            deptno|
+-------+------------------+-----+--------+------------------+--------+------------------+-----------------+------------------+
|  count|                14|   14|      14|                13|      14|                14|                6|                14|
|   mean| 7726.571428571428| null|    null| 7739.307692307692|    null| 2073.214285714286|366.6666666666667|22.142857142857142|
| stddev|178.29436087795662| null|    null|103.71466033898376|    null|1182.5032235162716|546.5040408511785| 8.017837257372731|
|    min|              7369|ADAMS| ANALYST|              7566|01/21/00|               800|                0|                10|
|    max|              7934| WARD|SALESMAN|              7902|12/05/98|              5000|             1400|                30|
+-------+------------------+-----+--------+------------------+--------+------------------+-----------------+------------------+

In [9]:
emp.show()

+-----+------+---------+----+--------+----+----+------+
|empno| ename|      job| mgr|hiredate| sal|comm|deptno|
+-----+------+---------+----+--------+----+----+------+
| 7369| SMITH|    CLERK|7902|06/13/93| 800|   0|    20|
| 7499| ALLEN| SALESMAN|7698|08/15/98|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|03/26/96|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|10/31/95|2975|null|    20|
| 7698| BLAKE|  MANAGER|7839|06/11/92|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|05/14/93|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|03/05/96|3000|null|    20|
| 7839|  KING|PRESIDENT|null|06/09/90|5000|   0|    10|
| 7844|TURNER| SALESMAN|7698|06/04/95|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|06/04/99|1100|null|    20|
| 7900| JAMES|    CLERK|7698|06/23/00| 950|null|    30|
| 7934|MILLER|    CLERK|7782|01/21/00|1300|null|    10|
| 7902|  FORD|  ANALYST|7566|12/05/97|3000|null|    20|
| 7654|MARTIN| SALESMAN|7698|12/05/98|1250|1400|    30|
+-----+------+---------+----+--------+----+----+------+

In [10]:
emp.where(emp.mgr.isNull()|emp.comm.isNull()).show()

+-----+------+---------+----+--------+----+----+------+
|empno| ename|      job| mgr|hiredate| sal|comm|deptno|
+-----+------+---------+----+--------+----+----+------+
| 7566| JONES|  MANAGER|7839|10/31/95|2975|null|    20|
| 7698| BLAKE|  MANAGER|7839|06/11/92|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|05/14/93|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|03/05/96|3000|null|    20|
| 7839|  KING|PRESIDENT|null|06/09/90|5000|   0|    10|
| 7876| ADAMS|    CLERK|7788|06/04/99|1100|null|    20|
| 7900| JAMES|    CLERK|7698|06/23/00| 950|null|    30|
| 7934|MILLER|    CLERK|7782|01/21/00|1300|null|    10|
| 7902|  FORD|  ANALYST|7566|12/05/97|3000|null|    20|
+-----+------+---------+----+--------+----+----+------+

In [11]:
emp.na.drop(how='any',subset=['mgr']).show()

+-----+------+--------+----+--------+----+----+------+
|empno| ename|     job| mgr|hiredate| sal|comm|deptno|
+-----+------+--------+----+--------+----+----+------+
| 7369| SMITH|   CLERK|7902|06/13/93| 800|   0|    20|
| 7499| ALLEN|SALESMAN|7698|08/15/98|1600| 300|    30|
| 7521|  WARD|SALESMAN|7698|03/26/96|1250| 500|    30|
| 7566| JONES| MANAGER|7839|10/31/95|2975|null|    20|
| 7698| BLAKE| MANAGER|7839|06/11/92|2850|null|    30|
| 7782| CLARK| MANAGER|7839|05/14/93|2450|null|    10|
| 7788| SCOTT| ANALYST|7566|03/05/96|3000|null|    20|
| 7844|TURNER|SALESMAN|7698|06/04/95|1500|   0|    30|
| 7876| ADAMS|   CLERK|7788|06/04/99|1100|null|    20|
| 7900| JAMES|   CLERK|7698|06/23/00| 950|null|    30|
| 7934|MILLER|   CLERK|7782|01/21/00|1300|null|    10|
| 7902|  FORD| ANALYST|7566|12/05/97|3000|null|    20|
| 7654|MARTIN|SALESMAN|7698|12/05/98|1250|1400|    30|
+-----+------+--------+----+--------+----+----+------+

In [12]:
#while filling use only same data type
emp.na.fill(22222,['mgr','comm']).show()

+-----+------+---------+-----+--------+----+-----+------+
|empno| ename|      job|  mgr|hiredate| sal| comm|deptno|
+-----+------+---------+-----+--------+----+-----+------+
| 7369| SMITH|    CLERK| 7902|06/13/93| 800|    0|    20|
| 7499| ALLEN| SALESMAN| 7698|08/15/98|1600|  300|    30|
| 7521|  WARD| SALESMAN| 7698|03/26/96|1250|  500|    30|
| 7566| JONES|  MANAGER| 7839|10/31/95|2975|22222|    20|
| 7698| BLAKE|  MANAGER| 7839|06/11/92|2850|22222|    30|
| 7782| CLARK|  MANAGER| 7839|05/14/93|2450|22222|    10|
| 7788| SCOTT|  ANALYST| 7566|03/05/96|3000|22222|    20|
| 7839|  KING|PRESIDENT|22222|06/09/90|5000|    0|    10|
| 7844|TURNER| SALESMAN| 7698|06/04/95|1500|    0|    30|
| 7876| ADAMS|    CLERK| 7788|06/04/99|1100|22222|    20|
| 7900| JAMES|    CLERK| 7698|06/23/00| 950|22222|    30|
| 7934|MILLER|    CLERK| 7782|01/21/00|1300|22222|    10|
| 7902|  FORD|  ANALYST| 7566|12/05/97|3000|22222|    20|
| 7654|MARTIN| SALESMAN| 7698|12/05/98|1250| 1400|    30|
+-----+------+---------+-----+--------+----+-----+------+

In [13]:
from pyspark.ml.feature import Imputer
impute=Imputer(inputCols=['mgr','comm'],outputCols=['{}_imputed'.format(c) for c in ['mgr','comm']]).setStrategy('mean')

In [14]:
impute.fit(emp).transform(emp).show()

+-----+------+---------+----+--------+----+----+------+-----------+------------+
|empno| ename|      job| mgr|hiredate| sal|comm|deptno|mgr_imputed|comm_imputed|
+-----+------+---------+----+--------+----+----+------+-----------+------------+
| 7369| SMITH|    CLERK|7902|06/13/93| 800|   0|    20|       7902|           0|
| 7499| ALLEN| SALESMAN|7698|08/15/98|1600| 300|    30|       7698|         300|
| 7521|  WARD| SALESMAN|7698|03/26/96|1250| 500|    30|       7698|         500|
| 7566| JONES|  MANAGER|7839|10/31/95|2975|null|    20|       7839|         366|
| 7698| BLAKE|  MANAGER|7839|06/11/92|2850|null|    30|       7839|         366|
| 7782| CLARK|  MANAGER|7839|05/14/93|2450|null|    10|       7839|         366|
| 7788| SCOTT|  ANALYST|7566|03/05/96|3000|null|    20|       7566|         366|
| 7839|  KING|PRESIDENT|null|06/09/90|5000|   0|    10|       7739|           0|
| 7844|TURNER| SALESMAN|7698|06/04/95|1500|   0|    30|       7698|           0|
| 7876| ADAMS|    CLERK|7788|06/04/99|1100|null|    20|       7788|         366|
| 7900| JAMES|    CLERK|7698|06/23/00| 950|null|    30|       7698|         366|
| 7934|MILLER|    CLERK|7782|01/21/00|1300|null|    10|       7782|         366|
| 7902|  FORD|  ANALYST|7566|12/05/97|3000|null|    20|       7566|         366|
| 7654|MARTIN| SALESMAN|7698|12/05/98|1250|1400|    30|       7698|        1400|
+-----+------+---------+----+--------+----+----+------+-----------+------------+

In [15]:
emp.filter(emp.sal>1000).select('mgr').show()

+----+
| mgr|
+----+
|7698|
|7698|
|7839|
|7839|
|7839|
|7566|
|null|
|7698|
|7788|
|7782|
|7566|
|7698|
+----+

In [16]:
emp.groupBy('mgr').sum().show()

+----+----------+--------+--------+---------+-----------+
| mgr|sum(empno)|sum(mgr)|sum(sal)|sum(comm)|sum(deptno)|
+----+----------+--------+--------+---------+-----------+
|7902|      7369|    7902|     800|        0|         20|
|7698|     38418|   38490|    6550|     2200|        150|
|7839|     23046|   23517|    8275|     null|         60|
|7566|     15690|   15132|    6000|     null|         40|
|7788|      7876|    7788|    1100|     null|         20|
|7782|      7934|    7782|    1300|     null|         10|
|null|      7839|    null|    5000|        0|         10|
+----+----------+--------+--------+---------+-----------+

In [17]:
emp.groupBy('deptno').sum('sal').show()

+------+--------+
|deptno|sum(sal)|
+------+--------+
|    20|   10875|
|    30|    9400|
|    10|    8750|
+------+--------+

In [18]:
emp.groupBy('deptno').mean('sal').show()

+------+------------------+
|deptno|          avg(sal)|
+------+------------------+
|    20|            2175.0|
|    30|1566.6666666666667|
|    10|2916.6666666666665|
+------+------------------+

In [19]:
emp.groupBy('deptno').count().show()

+------+-----+
|deptno|count|
+------+-----+
|    20|    5|
|    30|    6|
|    10|    3|
+------+-----+

In [20]:
#data frame APPI
emp_ss=emp['empno','deptno','sal']

In [22]:
###Raghu scenarios and basic operations
#1.Rank function 
#2.All types of joins especially self join
#3.Basic column operations addition/cast/drop/na.drop/na.fill
#4#.Level query
#5.Top sal query
#6.Date format handling
#7.Merge query/Union query
#8.subquery/deletion of duplicates
#9.with clause in spark
#10.data frame API

In [23]:
#top salary
emp.groupBy('deptno').max('sal').show()

+------+--------+
|deptno|max(sal)|
+------+--------+
|    20|    3000|
|    30|    2850|
|    10|    5000|
+------+--------+

In [26]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [27]:
emp_rank=emp.withColumn('rank_sal',rank().over(Window.partitionBy('deptno').orderBy('sal')))
emp_rank.where(col('rank_sal')==1).show()

+-----+------+-----+----+--------+----+----+------+--------+
|empno| ename|  job| mgr|hiredate| sal|comm|deptno|rank_sal|
+-----+------+-----+----+--------+----+----+------+--------+
| 7934|MILLER|CLERK|7782|01/21/00|1300|null|    10|       1|
| 7369| SMITH|CLERK|7902|06/13/93| 800|   0|    20|       1|
| 7900| JAMES|CLERK|7698|06/23/00| 950|null|    30|       1|
+-----+------+-----+----+--------+----+----+------+--------+

In [28]:
emp.columns

['empno', 'ename', 'job', 'mgr', 'hiredate', 'sal', 'comm', 'deptno']

In [29]:
emp.where(emp.mgr.isNull()).show()

+-----+-----+---------+----+--------+----+----+------+
|empno|ename|      job| mgr|hiredate| sal|comm|deptno|
+-----+-----+---------+----+--------+----+----+------+
| 7839| KING|PRESIDENT|null|06/09/90|5000|   0|    10|
+-----+-----+---------+----+--------+----+----+------+

In [30]:
#emp.withColumn("denserank",dense_rank().over(Window.partitionBy('deptno').orderBy('empno'))).show()
emp.withColumn("normalrank",rank().over(Window.partitionBy('deptno').orderBy('empno'))).show()

+-----+------+---------+----+--------+----+----+------+----------+
|empno| ename|      job| mgr|hiredate| sal|comm|deptno|normalrank|
+-----+------+---------+----+--------+----+----+------+----------+
| 7782| CLARK|  MANAGER|7839|05/14/93|2450|null|    10|         1|
| 7839|  KING|PRESIDENT|null|06/09/90|5000|   0|    10|         2|
| 7934|MILLER|    CLERK|7782|01/21/00|1300|null|    10|         3|
| 7369| SMITH|    CLERK|7902|06/13/93| 800|   0|    20|         1|
| 7566| JONES|  MANAGER|7839|10/31/95|2975|null|    20|         2|
| 7788| SCOTT|  ANALYST|7566|03/05/96|3000|null|    20|         3|
| 7876| ADAMS|    CLERK|7788|06/04/99|1100|null|    20|         4|
| 7902|  FORD|  ANALYST|7566|12/05/97|3000|null|    20|         5|
| 7499| ALLEN| SALESMAN|7698|08/15/98|1600| 300|    30|         1|
| 7521|  WARD| SALESMAN|7698|03/26/96|1250| 500|    30|         2|
| 7654|MARTIN| SALESMAN|7698|12/05/98|1250|1400|    30|         3|
| 7698| BLAKE|  MANAGER|7839|06/11/92|2850|null|    30|         4|
| 7844|TURNER| SALESMAN|7698|06/04/95|1500|   0|    30|         5|
| 7900| JAMES|    CLERK|7698|06/23/00| 950|null|    30|         6|
+-----+------+---------+----+--------+----+----+------+----------+

In [31]:
#joins
emp.alias("df1").join(emp.alias("df2"),col("df1.empno")==col("df2.mgr")).\
select (col('df1.empno'),col('df2.mgr'),
col('df1.job'),col('df1.sal')).show()

+-----+----+---------+----+
|empno| mgr|      job| sal|
+-----+----+---------+----+
| 7566|7566|  MANAGER|2975|
| 7566|7566|  MANAGER|2975|
| 7698|7698|  MANAGER|2850|
| 7698|7698|  MANAGER|2850|
| 7698|7698|  MANAGER|2850|
| 7698|7698|  MANAGER|2850|
| 7698|7698|  MANAGER|2850|
| 7782|7782|  MANAGER|2450|
| 7788|7788|  ANALYST|3000|
| 7839|7839|PRESIDENT|5000|
| 7839|7839|PRESIDENT|5000|
| 7839|7839|PRESIDENT|5000|
| 7902|7902|  ANALYST|3000|
+-----+----+---------+----+

In [32]:
emp.printSchema()

root
 |-- empno: integer (nullable = true)
 |-- ename: string (nullable = true)
 |-- job: string (nullable = true)
 |-- mgr: integer (nullable = true)
 |-- hiredate: string (nullable = true)
 |-- sal: integer (nullable = true)
 |-- comm: integer (nullable = true)
 |-- deptno: integer (nullable = true)

In [33]:
emp.withColumn('empno',emp.empno.cast('string')).show()

+-----+------+---------+----+--------+----+----+------+
|empno| ename|      job| mgr|hiredate| sal|comm|deptno|
+-----+------+---------+----+--------+----+----+------+
| 7369| SMITH|    CLERK|7902|06/13/93| 800|   0|    20|
| 7499| ALLEN| SALESMAN|7698|08/15/98|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|03/26/96|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|10/31/95|2975|null|    20|
| 7698| BLAKE|  MANAGER|7839|06/11/92|2850|null|    30|
| 7782| CLARK|  MANAGER|7839|05/14/93|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|03/05/96|3000|null|    20|
| 7839|  KING|PRESIDENT|null|06/09/90|5000|   0|    10|
| 7844|TURNER| SALESMAN|7698|06/04/95|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|06/04/99|1100|null|    20|
| 7900| JAMES|    CLERK|7698|06/23/00| 950|null|    30|
| 7934|MILLER|    CLERK|7782|01/21/00|1300|null|    10|
| 7902|  FORD|  ANALYST|7566|12/05/97|3000|null|    20|
| 7654|MARTIN| SALESMAN|7698|12/05/98|1250|1400|    30|
+-----+------+---------+----+--------+----+----+------+

In [34]:
# python code to demonstrate working of reduce()
 
# importing functools for reduce()
import functools
 
# initializing list
lis = [1, 3, 5, 6, 2, ]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))
 
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

In [35]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
print (product)

24

In [36]:
lis=[1,2,3,4]
reduce(lambda a,b:a*b,lis)

24

In [37]:
print (list(range(5)))

[0, 1, 2, 3, 4]

In [38]:
for i in range(1,5):
    v=str(i)
    print (str.center(v,7,'*'))

***1***
***2***
***3***
***4***

In [ ]:
#check looping in pyspark once

In [121]:
#Merging
#wel1=spark.read.csv(r'D:\spark\def_wealth1.csv',header=True,inferSchema=True)
wel2=spark.read.csv(r'D:\spark\def_wealth2.csv',header=True,inferSchema=True)
wel3=spark.read.csv(r'D:\spark\def_wealth3.csv',header=True,inferSchema=True)
wel1.show()

+---+-------------+------+
| id|wealth_crores|target|
+---+-------------+------+
|  1|          700|  1200|
|  2|         1201|  1400|
|  4|         2001|  null|
|  5|         3001| 99999|
|  3|         1401|  2000|
+---+-------------+------+

In [91]:
col=list(wel1.columns)
wel1.join(wel2,on=col,how="leftouter").show()

+---+-------------+------+
| id|wealth_crores|target|
+---+-------------+------+
|  1|          700|  1200|
|  2|         1201|  1400|
|  4|         2001|  null|
|  5|         3001| 99999|
|  3|         1401|  2000|
+---+-------------+------+

In [117]:
#merger with one column has updates
from pyspark.sql.functions import monotonically_increasing_id
merger=wel1.unionAll(wel2).withColumn('seq',monotonically_increasing_id())
merger1=merger.withColumn('rank',row_number().over(Window.partitionBy(merger.id).orderBy(merger.seq.desc())))
merger1.select(wel1.columns).where(merger1.rank==1).sort(merger1.id).show()

+---+-------------+------+
| id|wealth_crores|target|
+---+-------------+------+
|  1|          700|  1200|
|  2|         1201|  1400|
|  3|         1401|  2222|
|  4|         2001| 14343|
|  5|         3001|  1434|
|  6|          700|  1200|
+---+-------------+------+

In [122]:
merger=wel1.unionAll(wel3).withColumn('seq',monotonically_increasing_id())
merger1=merger.withColumn('rank',row_number().over(Window.partitionBy(merger.id).orderBy(merger.seq.desc())))
merger1.select(wel1.columns).where(merger1.rank==1).sort(merger1.id).show()

+---+-------------+------+
| id|wealth_crores|target|
+---+-------------+------+
|  1|          700|  1200|
|  2|         null|  1400|
|  3|         1401|  2222|
|  4|         2001| 14343|
|  5|         3001|  1434|
|  6|          700|  1200|
+---+-------------+------+

In [145]:
from pyspark.sql import functions as f
#wel1.withColumn('wealth_crores',f.when(wel1.id==wel3.id,wel3.wealth_crores).otherwise(wel1.wealth_crores))

In [146]:
#merging of any number of columns by joins equivalent to SQL Merge
weljoin=wel3.join(wel1,wel1.id==wel3.id,"inner").select(wel1.id,wel3.wealth_crores,wel3.target)
welnotjoin1=wel3.join(wel1,wel1.id==wel3.id,"fullouter").where(wel3.id.isNull()).select(wel1.id,wel1.wealth_crores,wel1.target)
welnotjoin3=wel3.join(wel1,wel1.id==wel3.id,"fullouter").where(wel1.id.isNull()).select(wel3.id,wel3.wealth_crores,wel3.target)
mergebyjoin=weljoin.unionAll(welnotjoin1).unionAll(welnotjoin3)
mergebyjoin.sort('id').show()

+---+-------------+------+
| id|wealth_crores|target|
+---+-------------+------+
|  1|          700|  1200|
|  2|         null|  1400|
|  3|         1401|  2222|
|  4|         2001| 14343|
|  5|         3001|  1434|
|  6|          700|  1200|
+---+-------------+------+

In [159]:
#DECODE Functionality in Pyspark
wel1.withColumn('decode',when(wel1.target.isNull(),4444).when(wel1.target==2000,'0002').otherwise(wel1.target)).show()

+---+-------------+------+------+
| id|wealth_crores|target|decode|
+---+-------------+------+------+
|  1|          700|  1200|  1200|
|  2|         1201|  1400|  1400|
|  4|         2001|  null|  4444|
|  5|         3001| 99999| 99999|
|  3|         1401|  2000|  0002|
+---+-------------+------+------+

In [167]:
import pyspark.sql.functions as F
wel1.alias("a").withColumn('decode',when(F.col("a.target").isNull(),4444).when(F.col("a.target")==2000,'0002')
                .otherwise(F.col("a.target"))).show()

+---+-------------+------+------+
| id|wealth_crores|target|decode|
+---+-------------+------+------+
|  1|          700|  1200|  1200|
|  2|         1201|  1400|  1400|
|  4|         2001|  null|  4444|
|  5|         3001| 99999| 99999|
|  3|         1401|  2000|  0002|
+---+-------------+------+------+

In [161]:
from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.functions as F

def transform(spark_session: SparkSession, inputs: List[DataFrame], credentials=None) -> DataFrame:
    """Transforms input DataFrame(s) and returns a single DataFrame as a result

    # Arguments
    spark_session -- Entrypoint into PySpark's Dataset and DataFrame API
    inputs        -- A nonempty List of the input components for this Transform. The index of each
                     input in the list is determined by how the Transform is configured.
    credentials   -- If set (in Advanced Settings), this variable takes upon the string value of the
                     content of the 'Credentials Secret' field.

    # Returns
    Any object of type DataFrame
    """
    uat_mysql_parents = inputs[0]
    bo_accounts_df_uat = inputs[1]
    bo_users = inputs[2]
    countries_read = inputs[3]
    age_read = inputs[4]

    for column in [column for column in age_read.columns if column not in bo_users.columns]:
        bo_users = bo_users.withColumn(column, F.lit(None))

    for column in [column for column in bo_users.columns if column not in age_read.columns]:
        age_read = age_read.withColumn(column, F.lit(None))
    
    bo_users_df_uat = bo_users.unionByName(age_read)
    #merged_df.show()

    # bo_users_df_uat = [bo_users_df_uat,age_read]
    
    # merged_df.createOrReplaceTempView("a")
    # sqlDF = spark_session.sql("select a.accountid as Account_ID, a.userID as User_ID, a.accountNo as Account_Number, pg.parentname as Partner_Name,     date(openedWhen) as Account_Open_Date, case when COALESCE (a.bodEquityValue,0)<>0 then 'Funded' else 'Unfunded' end as Account_Funded_Status, case when  a.accountType='2' then 'Live' when  a.accountType in ('1', '98') then 'Pratice' else 'Other' end  as Account_Type, case when  a.accountType='2' and a.status='2' and a.status!= ('9') then 'Active' when   a.accountType='2' and a.status='1'  and a.status!= ('9') then 'Opened - Pending Approval' when a.status='9' and a.accountType='2'and a.status='2' then 'Closed' when  a.accountType in ('1', '98') then 'Pratice' else 'Other' end  as Account_Status, case when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>0 and  round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<20 then '0-19' when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=20 and round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<30 then '20-29' when  round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=30 and round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<40 then '30-39' when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=40 and  round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<50 then '40-49' when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=50 and        round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<60 then '50-59' when  round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0) > 60 then  '60+' else 'Other' end  as ageGroup")
    # sqlDF.show()

    a = bo_accounts_df_uat.alias("a").withColumn("Account_Type",F.when(F.col("a.accountType") == F.lit(2), "Live")\
    .when(F.col("a.accountType")== F.col("a.accountType").between(1,98),"Pratice")
    .otherwise("other"))\
    .withColumn("Account_Status", F.when(F.col("a.accountType") == F.lit(2), "active")\
    .otherwise("other"))\
    .when((F.col("a.accountType")==F.lit(60)) & (F.col("a.status")==F.lit(1)) & (F.col("a.status") != F.lit(9)), "Pending Approval").when((F.col("a.accountType")==F.lit(60)) & (F.col("a.status")==F.lit(1911)) & (F.col("a.status") == F.lit(1912)), "closed")\
    .when(F.col("a.duration").between(1,98),"Pratice")\
    .otherwise("other"))\
    .withColumn("Account_Trade_Type",F.when(F.col("a.tradingtype")=='C', "Cash Account")\
    .when(F.col("a.tradingtype")=="M", "Margin Account")\
    .when(F.col("a.tradingtype")=="P", "Pattern Day Trader")\
    .otherwise("other"))\
    .withColumn("Account_Management_Type", when(F.col('a.accountMgmtType')==0 ,"Self-direct")\
                .when(F.col('a.accountMgmtType')==1 ,"Advisory")\
                .when(F.col('a.accountMgmtType')==2 ,"RIA Managed")\
                .when(F.col('a.accountMgmtType')==3 ,"Custodial")\
                .when(F.col('a.accountMgmtType')==4 ,"Custodial Managed") \
                .when(F.col('a.accountMgmtType')==5 ,"Trustee") \
                .when(F.col('a.accountMgmtType')==6 ,"Trustee MAnaged") \
                .when(F.col('a.accountMgmtType')==7 ,"SMSF") \
                .when(F.col('a.accountMgmtType')==8 ,"SMSF Manageed") \
                .when(F.col('a.accountMgmtType')==9 ,"Broker Managed") \
                .when(F.col('a.accountMgmtType')==10 ,"Consolidated Margin") \
                .when(F.col('a.accountMgmtType')==15 ,"Credit REverse")\
                .otherwise("accountMgmtType"))\
    .select(F.col("a.userID").alias("User_ID"),
            F.col("a.accountid").alias("Account_ID"),
            F.col("a.accountNo").alias("Account_Number"),
            F.to_date("a.openedWhen").alias("Account_Open_Date"),
            (F.coalesce (F.col("a.bodEquityValue"),F.lit(0)))-(F.coalesce (F.col("a.bodcashavailforwith"),F.lit(0))).alias("Equity_Value"),
            (F.coalesce (F.col("a.bodcashavailforwith"),F.lit(0))).alias(" Cash_Value"),
            F.coalesce (F.col("a.bodEquityValue"), F.lit(0)).alias("AUM"),
            F.col("a.authorizedUsers").alias("Authorized_Users"),
            F.col("Account_Type"),
            F.col("Account_Status"),
            F.col("Account_Trade_Type"),
            F.col("Account_Funded_Status"),
            F.col("ageGroup")
            )

#     pg = uat_mysql_parents.alias("pg").select(F.col("pg.parentname").alias("Partner_Name"))
#     u= df4.alias("u")
#     # cc = df3.alias("cc").select(F.coalesce(F.col("cc.region"),"Missing/Unknown")).alias("Region_Name")

#     a.join(u, a["userid"] == u["userID"], "left_outer")
#     u.join(pg, u["parentIbID"] == pg["parentid"], "left_outer")
#     u.join(cc, u["countryID"] == cc["countryid"], "left_outer")
    return bo_users_df_uat

SyntaxError: unmatched ')' (<ipython-input-161-2011f5a82766>, line 46)

In [169]:
a = bo_accounts_df_uat.alias("a").withColumn("Account_Type",F.when(F.col("a.accountType") == F.lit(2), "Live")\
    .when(F.col("a.accountType")== F.col("a.accountType").between(1,98),"Pratice")
    .otherwise("other"))\
    .withColumn("Account_Status", F.when(F.col("a.accountType") == F.lit(2), "active")\
    .when((F.col("a.accountType")==F.lit(60)) & (F.col("a.status")==F.lit(1)) & (F.col("a.status") \
    != F.lit(9)), "Pending Approval").when((F.col("a.accountType")==F.lit(60)) & (F.col("a.status")\
    ==F.lit(1911)) & (F.col("a.status") == F.lit(1912)), "closed")\
    .when(F.col("a.duration").between(1,98),"Pratice")\
    .otherwise("other"))\
    .withColumn("Account_Trade_Type",F.when(F.col("a.tradingtype")=='C', "Cash Account")\
    .when(F.col("a.tradingtype")=="M", "Margin Account")\
    .when(F.col("a.tradingtype")=="P", "Pattern Day Trader")\
    .otherwise("other"))\
    .withColumn("Account_Management_Type", when(F.col('a.accountMgmtType')==0 ,"Self-direct")\
                .when(F.col('a.accountMgmtType')==1 ,"Advisory")\
                .when(F.col('a.accountMgmtType')==2 ,"RIA Managed")\
                .when(F.col('a.accountMgmtType')==3 ,"Custodial")\
                .when(F.col('a.accountMgmtType')==4 ,"Custodial Managed") \
                .when(F.col('a.accountMgmtType')==5 ,"Trustee") \
                .when(F.col('a.accountMgmtType')==6 ,"Trustee MAnaged") \
                .when(F.col('a.accountMgmtType')==7 ,"SMSF") \
                .when(F.col('a.accountMgmtType')==8 ,"SMSF Manageed") \
                .when(F.col('a.accountMgmtType')==9 ,"Broker Managed") \
                .when(F.col('a.accountMgmtType')==10 ,"Consolidated Margin") \
                .when(F.col('a.accountMgmtType')==15 ,"Credit REverse")\
                .otherwise("accountMgmtType"))\
    .select(F.col("a.userID").alias("User_ID"),
            F.col("a.accountid").alias("Account_ID"),
            F.col("a.accountNo").alias("Account_Number"),
            F.to_date("a.openedWhen").alias("Account_Open_Date"),
            (F.coalesce (F.col("a.bodEquityValue"),F.lit(0)))-(F.coalesce (F.col("a.bodcashavailforwith"),F.lit(0))).alias("Equity_Value"),
            (F.coalesce (F.col("a.bodcashavailforwith"),F.lit(0))).alias(" Cash_Value"),
            F.coalesce (F.col("a.bodEquityValue"), F.lit(0)).alias("AUM"),
            F.col("a.authorizedUsers").alias("Authorized_Users"),
            F.col("Account_Type"),
            F.col("Account_Status"),
            F.col("Account_Trade_Type"),
            F.col("Account_Funded_Status"),
            F.col("ageGroup")
            )

NameError: name 'bo_accounts_df_uat' is not defined

In [184]:
#wel1.select(round(datediff(current_date(),coalesce(current_date(),0)))).show()
wel1.select(round(datediff(current_date(),coalesce(current_date())))).show()

+------------------------------------------------------------+
|round(datediff(current_date(), coalesce(current_date())), 0)|
+------------------------------------------------------------+
|                                                           0|
|                                                           0|
|                                                           0|
|                                                           0|
|                                                           0|
+------------------------------------------------------------+

In [ ]:
case
        when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>0 and 
         round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<20 then '0-19'
        when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=20 and 
         round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<30 then '20-29'
        when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=30 and 
         round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<40 then '30-39'
        when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=40 and 
         round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<50 then '40-49'
        when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)>=50 and 
         round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0)<60 then '50-59'
        when round((DATEDIFF( CURRENT_DATE,COALESCE(u.ageWhen,0)) / 365) + u.age , 0) > 60 then  '60+'
        else 'Other'
    end  as ageGroup

In [183]:
wel1.withColumn('ageGroup',when(round(datediff(current_date(),coalesce(current_date())))>0),4).show()

TypeError: when() missing 1 required positional argument: 'value'

In [194]:
#wel1.printSchema()
www=wel1.withColumn('sam',F.lit(0))
www.printSchema()

root
 |-- id: integer (nullable = true)
 |-- wealth_crores: integer (nullable = true)
 |-- target: integer (nullable = true)
 |-- sam: integer (nullable = false)

In [197]:
u = bo_users_df_uat.alias("u").withColumn("agegroup", 
    F.when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0")))/365)  + F.col("u.age"), 0) > 0) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"),0) < 20)), "0-19")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"),0) >= 20) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"),0) < 30)), "20-29")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"), 0) >= 30) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"),0) < 40)), "30-39")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"), 0) >= 40) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"),0) < 50)), "40-49")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), lit("0"))) / 365) + F.col("u.age"), 0) >= 50) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"),0) < 60)), "50-59")
    .when((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit("0"))) / 365) + F.col("u.age"), 0) > 60), "60+")
    .otherwise("Other"))

NameError: name 'bo_users_df_uat' is not defined

In [196]:
u = wel1.alias("u").withColumn("agegroup", 
    F.when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0)))/365 ) + F.col("u.id"), 0) > 0) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"),0) < 20)), "0-19")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"),0) >= 20) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"),0) < 30)), "20-29")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"), 0) >= 30) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"),0) < 40)), "30-39")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"), 0) >= 40) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"),0) < 50)), "40-49")
    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), lit(0))) / 365) + F.col("u.id"), 0) >= 50) & (F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"),0) < 60)), "50-59")
    .when((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.id"), F.lit(0))) / 365) + F.col("u.id"), 0) > 60), "60+")
    .otherwise(2))

AnalysisException: cannot resolve 'datediff(current_date(), coalesce(u.`id`, 0))' due to data type mismatch: argument 2 requires date type, however, 'coalesce(u.`id`, 0)' is of int type.;;
'Project [id#1658, wealth_crores#1659, target#1660, CASE WHEN ((round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) > 0) AND (round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) < 20)) THEN 0-19 WHEN ((round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) >= 20) AND (round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) < 30)) THEN 20-29 WHEN ((round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) >= 30) AND (round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) < 40)) THEN 30-39 WHEN ((round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) >= 40) AND (round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) < 50)) THEN 40-49 WHEN ((round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) >= 50) AND (round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) < 60)) THEN 50-59 WHEN (round(((datediff(current_date(Some(Asia/Calcutta)), coalesce(id#1658, 0)) / 365) + id#1658), 0) > 60) THEN 60+ ELSE 2 END AS agegroup#4920]
+- SubqueryAlias `u`
   +- RelationV2[id#1658, wealth_crores#1659, target#1660] csv file:/D:/spark/def_wealth1.csv

In [199]:
from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.functions as F

def transform(spark_session: SparkSession, inputs: List[DataFrame], credentials=None) -> DataFrame:
    """Transforms input DataFrame(s) and returns a single DataFrame as a result

    # Arguments
    spark_session -- Entrypoint into PySpark's Dataset and DataFrame API
    inputs        -- A nonempty List of the input components for this Transform. The index of each
                     input in the list is determined by how the Transform is configured.
    credentials   -- If set (in Advanced Settings), this variable takes upon the string value of the
                     content of the 'Credentials Secret' field.

    # Returns
    Any object of type DataFrame
    """
    uat_mysql_parents = inputs[0]
    bo_accounts_df_uat = inputs[1]
    bo_users = inputs[2]
    countries_read = inputs[3]
    age_read = inputs[4]

    for column in [column for column in age_read.columns if column not in bo_users.columns]:
        bo_users = bo_users.withColumn(column, F.lit(None))

    for column in [column for column in bo_users.columns if column not in age_read.columns]:
        age_read = age_read.withColumn(column, F.lit(None))
    
    
    bo_users_df_uat = bo_users.unionByName(age_read)
    u = bo_users_df_uat.alias("u")
    
    u = u.withColumn("Age_Group", F.when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"), 0) > 0) & (
            F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"),0) < 20)), "0-19")\
                    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"),0) >= 20) & (
            F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"),0) < 30)), "20-29")\
                    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"), 0) >= 30) & (
            F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"),0) < 40)), "30-39")\
                    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"), 0) >= 40) & (
            F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"),0) < 50)), "40-49")\
                    .when(((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"), 0) >= 50) & (
            F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"),0) < 60)), "50-59")\
                    .when((F.round((F.datediff(F.current_date(), F.coalesce(F.col("u.ageWhen"), F.lit(0))) / 365) + F.col("u.age"), 0) >= 60), "60+")\
                    .otherwise("Other"))\
        .select(F.col("u.parentIbID").alias("Partner_ID"),
            F.current_date().alias("Todays_Date"),
            # F.col("u.parentIbID").alias("parentIbID"),
            F.col("u.countryid").alias("Country_ID"),
            F.col("Age_Group"), ("*")
            )

    u = u.select(F.col("Partner_ID"), F.col("Todays_Date"), 
    F.col("Country_ID"), F.col("Age_Group"), ("*"))

    a = bo_accounts_df_uat.alias("a")\
            .select(("*"))

    aa = bo_accounts_df_uat.alias("a")\
        .select(F.countDistinct(F.col("a.UserID")).alias("Num_of_Users"),
                F.countDistinct(F.col("a.AccountID")).alias("Num_of_Accts")
                )

    pg = uat_mysql_parents.alias("pg")\
        .select(F.coalesce(F.col("pg.parentname"), F.lit("DriveWealth / Missing")).alias("Partner_Name"),
        F.col("pg.id").alias("parentid"), ("*"))



    cc = countries_read.alias("cc")\
        .select((F.coalesce(F.col("cc.region"), F.lit("Missing"))).alias("User_Region"),
                                F.col("cc.description").alias("User_Country_Name"),
                                ("*"))


    c = bo_accounts_df_uat.alias('a')\
	.withColumn("Num_of_Live_Accounts", F.when(F.col("a.accounttype") == 2, F.col("a.AccountID")))
    c.select(F.countDistinct(F.col("Num_of_Live_Accounts")).alias("Num_of_Live_Accounts"))

    c1 = bo_accounts_df_uat.alias('a')\
	.withColumn("Num_of_Funded_Accounts", F.when(F.coalesce(F.col("bodequityvalue"), F.lit(0)) == F.lit(0), F.col("a.AccountID")))
    c1.select(F.countDistinct(F.col("Num_of_Funded_Accounts")).alias("Num_of_Funded_Accounts"))

    c2 = bo_accounts_df_uat.alias('a').join(bo_users_df_uat.alias('u'), F.col('u.userid') == F.col('a.userid'))\
        .withColumn("Num_of_Approved_Accounts", F.when(F.col("u.approvedwhen").isNotNull(), F.col("a.AccountID")))
    c2.select(F.countDistinct(F.col("Num_of_Approved_Accounts")).alias("Num_of_Approved_Accounts"))

    c3 = bo_accounts_df_uat.alias('a').join(bo_users_df_uat.alias('u'), F.col('u.userid') == F.col('a.userid')) \
        .withColumn("Num_of_Approved_Users", F.when(F.col("u.approvedwhen").isNotNull(), F.col("a.UserID")))
    c3.select(F.countDistinct(F.col("Num_of_Approved_Users")).alias("Num_of_Approved_Users"))

    t1 = bo_accounts_df_uat.alias('a')\
	.withColumn("-", F.when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0)) == F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0)) == F.lit(0)) & ((F.col("a.Accountno").rlike("000001")) | (F.col("a.Accountno").rlike("DP")) | (F.col("a.Accountno").rlike("Dw"))), 0)\
        .when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0)) == F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0))  < F.lit(0)), 0)\
        .otherwise(F.coalesce(F.col("bodEquityValue"),F.lit(0))))
    t1.select(F.sum(F.col("-")).alias("-"))

    t2 = bo_accounts_df_uat.alias('a')\
	.withColumn("Equity_Value",F.when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0)) == F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0)) == F.lit(0)) & ((F.col("a.Accountno").rlike("000001")) | (F.col("a.Accountno").rlike("DP")) | (F.col("a.Accountno").rlike("Dw"))), 0)\
        .when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0)) == F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0)) < F.lit(0)), 0)\
        .otherwise(F.coalesce(F.col("bodcashavailforwith"),F.lit(0))))
    t2.select(F.sum(F.col("Equity_Value")).alias("Equity_Value"))

    t3 = bo_accounts_df_uat.alias('a')\
	.withColumn("Cash_Value",F.when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0)) == F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0)) == F.lit(0)) & ((F.col("a.Accountno").rlike("000001")) | (F.col("a.Accountno").rlike("DP")) | (F.col("a.Accountno").rlike("Dw"))), 0)\
        .when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0)) == F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0)) < F.lit(0)), 0)\
        .otherwise(F.coalesce(F.col("bodcashavailforwith"),F.lit(0))))
    t3.select(F.sum(F.col("Cash_Value")).alias("Cash_Value"))

    t4 = bo_accounts_df_uat.alias('a')\
	.withColumn("AUM", F.when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0)) == F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0)) == F.lit(0)) & ((F.col("a.Accountno").rlike("000001")) | (F.col("a.Accountno").rlike("DP")) | (F.col("a.Accountno").rlike("Dw"))),0)\
        .when((F.coalesce(F.col("bodcashavailforwith"),F.lit(0))==F.lit(0)) & (F.coalesce(F.col("bodEquityValue"),F.lit(0)) < F.lit(0)), 0)\
        .otherwise(F.coalesce(F.col("bodEquityValue"),F.lit(0))))
    t4.select(F.sum(F.col("AUM")).alias("AUM"))


    u.join(a, u["userid"] == a["userid"], "left_outer")
    u.join(pg, u["parentIbID"] == pg["parentid"], "left_outer")
    u.join(cc, u["Country_ID"] == cc["countryid"], "left_outer")

    fil = bo_users_df_uat.alias('u')
    .join(bo_accounts_df_uat.alias('a'), F.col('u.userid') == F.col('a.userid'))\
        .filter((F.col("u.createdwhen") < F.date_add(F.current_date(), 1)) &
                (F.col("a.accounttype") == "2") & (~F.col("a.accountNo").isin('DWWA000001','DWWE000001','DWRS000003','DWRH000016','DWLY000001','TEMK000001','DWUV000114','DWIX000002','DWZR000071',
'DWBP000089','CABC000001','REXM000001','STFF000001','ASTX000001','DWVX000498','EZAP000001','SIXC000001','DWMT000380',
'BBHQ000001','SKGP000001','KLMQ000001','TRVX000001','FMGX000001','SBEK000001','FXXS000001','CTZH000001','DWHJ000206',
'DWEE000524','GOTX000001','VSQA000001','FRZY000001','DWEF004076','HDNQ000001','RLMV000067','RLEM000001','STVS000021',
'GOPB000003','TRQQ000001','STSN000067','ASZH000001')) &
                (((F.coalesce(F.col("a.bodcashavailforwith") , F.lit(0)) == 0) &
                  (F.coalesce(F.col("a.bodEquityValue"), F.lit("0")) < 0) &
                  (~F.col("a.Accountno").rlike("000001") | ~F.col("a.Accountno").rlike("DP") | ~F.col("a.Accountno").rlike("Dw")))))

    g = fil.groupBy(F.current_date()).pivot("Accountno")

    return fil

In [201]:
fil = bo_users_df_uat.alias('u')\
    .join(bo_accounts_df_uat.alias('a'), F.col('u.userid') == F.col('a.userid'))\
        .filter((F.col("u.createdwhen") < F.date_add(F.current_date(), 1)) &
                (F.col("a.accounttype") == "2") & (~F.col("a.accountNo").isin('DWWA000001','DWWE000001','DWRS000003','DWRH000016','DWLY000001','TEMK000001','DWUV000114','DWIX000002','DWZR000071',
'DWBP000089','CABC000001','REXM000001','STFF000001','ASTX000001','DWVX000498','EZAP000001','SIXC000001','DWMT000380',
'BBHQ000001','SKGP000001','KLMQ000001','TRVX000001','FMGX000001','SBEK000001','FXXS000001','CTZH000001','DWHJ000206',
'DWEE000524','GOTX000001','VSQA000001','FRZY000001','DWEF004076','HDNQ000001','RLMV000067','RLEM000001','STVS000021',
'GOPB000003','TRQQ000001','STSN000067','ASZH000001')) &
                (((F.coalesce(F.col("a.bodcashavailforwith") , F.lit(0)) == 0) &
                  (F.coalesce(F.col("a.bodEquityValue"), F.lit("0")) < 0) &
                  (~F.col("a.Accountno").rlike("000001") | ~F.col("a.Accountno").rlike("DP") | ~F.col("a.Accountno").rlike("Dw")))))

NameError: name 'bo_users_df_uat' is not defined